.navbar {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #307351;
    border-top: 2px solid #b8b42d;
    border-bottom: 2px solid #b8b42d;
}

.navbar-link {
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #b8b42d;
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: white;
    text-decoration: underline;
}